<launch>
    <!-- Set parameters: policy_type, net_type, using_per, run_mode -->
    <arg name="model_dir" value="/deep_rl_gazebo/save_model/PT_trial_1"/>
    <arg name="exp_dir" value="/deep_rl_gazebo/save_model/PT_trial_1"/>
    <arg name="policy_type" default="off"/>
    <arg name="net_type" default="normal"/>
    <arg name="using_per" default="false"/>
    <arg name="run_mode" default="test"/>
    <arg name="load_episode" default="0"/>
  
    <node pkg="deep_rl_gazebo" type="test_model_irl.py" name="deployment_in_realworld" output="screen">
      <param name="model_dir" value="$(arg model_dir)"/>
      <param name="exp_dir" value="$(arg exp_dir)"/>
      <param name="policy_type"  value="$(arg policy_type)"/>
      <param name="net_type"  value="$(arg net_type)"/>
      <param name="using_per"  value="$(arg using_per)"/>
      <param name="run_mode"  value="$(arg run_mode)"/>
      <param name="load_episode" value="$(arg load_episode)"/>
    </node>
  </launch>